<h1>Surgery Index</h1>
<ul>
  <% @surgeries.each do |surgery| %>
    <li id="surgery-<%= surgery.id %>">
    surgery title: <%= link_to "#{surgery.title}", surgery_path(surgery.id) %>
    doctors: <%= surgery.doctor_names %>
    </li>
  <% end %>
</ul>